@page "/C_Detalles"

@using JhonAlbertGuzman_P2.Entidades
@using JhonAlbertGuzman_P2.BLL

<EditForm Model="lista">
    <DataAnnotationsValidator />

    <div class="card">

        <div class="card-header">
            <h3>Consulta de Detalles</h3>
        </div>

        <div class="card-body">

            <form>

                <div class="input-group d-flex align-items-end">
                    <select class="form-control col-2" @bind="Filtro">
                        <option value="0"></option>
                        <option value="1">Id</option>
                        <option value="2">Presentación</option>
                    </select>

                    <div class="flex-fill mx-2">
                        <label>Criterio</label>
                        <input type="text" class="form-control" @bind="Criterio" placeholder="Escriba Aqui" />
                    </div>

                    <button type="button" class="btn btn-warning" @onclick="Buscar">
                        <i class="oi oi-magnifying-glass mr-2" /> Buscar
                    </button>
                </div>

            </form>

        </div>

        <table class="table table-secondary">

            <thead class="thead-dark">
                <tr class="table-info">
                    <th>Id</th>
                    <th>Presentacion</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Existencia Empaque</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var producto in lista)
                {
                    @foreach (var detalle in producto.Detalle)
                    {   
                        <tr>
                            <td>@detalle.Id</td>
                            <td>@detalle.Presentacion</td>
                            <td>@detalle.Cantidad</td>
                            <td>@detalle.Precio</td>
                            <td>@(Convert.ToInt32(producto.Existencia / detalle.Cantidad))</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>

</EditForm>



@code {

    public string Filtro { get; set; }
    public string Criterio { get; set; }
    public List<Productos> lista { get; set; } = new List<Productos>();

    [Inject]
    public ProductoBLL productosBLL { get; set; }

    private void Buscar()
    {
        if (Criterio != null)
        {
            switch (Filtro)
            {
                case "1":
                    lista = productosBLL.GetList(t => t.ProductoId == int.Parse(Criterio));
                    break;

                case "2":
                    lista = productosBLL.GetList(t => t.Descripcion.ToLower().Contains(Criterio.ToLower()));
                    break;
            }
        }
        else
        {
            lista = productosBLL.GetList(t => true);
        }
    }
}