@page "/C_ProductosEmpaque"

@using JhonAlbertGuzman_P2.Entidades
@using JhonAlbertGuzman_P2.BLL

<EditForm Model="empaque">
    <DataAnnotationsValidator />

    <div class="card">

        <div class="card-header">
            <h3>Consulta de Empaques</h3>
        </div>

        <div class="card-body">

            <form>

                <div class="input-group d-flex align-items-end">
                    <select class="form-control col-2" @bind="Filtro">
                        <option value="0"></option>
                        <option value="1">Id</option>
                        <option value="2">Concepto</option>
                    </select>

                    <div class="flex-fill mx-2">
                        <label>Criterio</label>
                        <input type="text" class="form-control" @bind="Criterio" placeholder="Escriba Aqui" />
                    </div>

                    <button type="button" class="btn btn-warning" @onclick="Buscar">
                        <i class="oi oi-magnifying-glass mr-2" /> Buscar
                    </button>
                </div>

            </form>

        </div>

        <table class="table table-secondary">

            <thead class="thead-dark">
                <tr class="table-info">
                    <th>Producto Id</th>
                    <th>Concepto</th>
                    <th>Utilizado Descripcion</th>
                    <th>Utilizado Cantidad</th>
                    <th>Producido Descripcion</th>
                    <th>Producido Cantidad</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var itemEmpaque in empaque)
                {
                    @foreach (var itemUtilizado in utilizados)
                    {
                        @foreach (var itemProducido in producido)
                        {
                            if (itemEmpaque.ProductoId == itemUtilizado.ProductoId && itemEmpaque.ProductoId == itemProducido.ProductoId)
                            {
                                <tr>
                                    <td>@itemEmpaque.ProductoId</td>
                                    <td>@itemEmpaque.Concepto</td>
                                    <td>@itemUtilizado.Descripcion</td>
                                    <td>@itemUtilizado.Cantidad</td>
                                    <td>@itemProducido.Descripcion</td>
                                    <td>@itemProducido.Cantidad</td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>

    </div>

</EditForm>



@code {

    public string Filtro { get; set; }
    public string Criterio { get; set; }
    public List<ProductosEmpaque> empaque { get; set; } = new List<ProductosEmpaque>();
    public List<Producidos> producido { get; set; } = new List<Producidos>();
    public List<Utilizados> utilizados { get; set; } = new List<Utilizados>();

    [Inject]
    public ProductoEmpaqueBLL productosEmpaqueBLL { get; set; }

    private void Buscar()
    {
        if (Criterio != null)
        {
            switch (Filtro)
            {
                case "1":
                    empaque = productosEmpaqueBLL.GetListEmpaque(t => t.ProductoId == int.Parse(Criterio));
                    utilizados = productosEmpaqueBLL.GetListUtilizado(t => t.ProductoId == int.Parse(Criterio));
                    producido = productosEmpaqueBLL.GetListProducidos(t => t.ProductoId == int.Parse(Criterio));
                break;

                case "2":
                    empaque = productosEmpaqueBLL.GetListEmpaque(t => t.Concepto.ToLower().Contains(Criterio.ToLower()));
                    utilizados = productosEmpaqueBLL.GetListUtilizado(t => t.Descripcion.ToLower().Contains(Criterio.ToLower()));
                    producido = productosEmpaqueBLL.GetListProducidos(t => t.Descripcion.ToLower().Contains(Criterio.ToLower()));
                break;

            }
        }
        else
        {
            empaque = productosEmpaqueBLL.GetListEmpaque(t => true);
            utilizados = productosEmpaqueBLL.GetListUtilizado(t => true);
            producido = productosEmpaqueBLL.GetListProducidos(t => true);
        }
    }
}