@inject IToastService toastService
@page "/R_ProductosEmpaque"
@page "/C_ProductosEmpaque-/{empaqueId:int}"

<EditForm Model="productoEmpaque" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container-sm row-cols-md-1">

        <div class="card shadow-lg">

            <div class="card-header">
                <h3 class="card-title">Registro de Empaques</h3>
            </div>

            <div class="card-body">

                @* Buscar *@
                <div class="form-group align-items-right">
                    <div class="form-row">
                        <label>Producto Id: </label>
                        <div class="input-group">
                            <InputNumber @bind-Value="productoEmpaque.EmpaqueId" class="form-control col-4 col" />
                            <div class="input-group-append col">
                                <button type="button" class="btn btn-success input-group-text" @onclick="Buscar">
                                    <span class="oi oi-magnifying-glass"> Buscar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                @* Fecha *@
                <div class="row">
                    <div class="form-group col">
                        <label>Fecha de Expiracion: </label>
                        <InputDate class="form-control" @bind-Value="productoEmpaque.Fecha" />
                        <ValidationMessage For="@(() => productoEmpaque.Fecha)" />
                    </div>
                </div>

                <br>

                @* Concepto *@
                <div class="row">
                    <div class="form-group col">
                        <label>Concepto: </label>
                        <InputText class="form-control" @bind-Value="productoEmpaque.Concepto"
                            placeholder="Descripción del producto" />
                        <ValidationMessage For="@(() => productoEmpaque.Concepto)" />
                    </div>
                </div>

                <hr>
                <br>

                @* Utilizados *@
                <div class="card">

                    <div class="card-header">
                        <h3>Utilizados</h3>
                    </div>

                    <form>

                        <div class="row align-items-end">

                            @* ComboBox Productos *@
                            <div class="form-group col">
                                <label>Productos: </label>
                                <InputSelect id="SelectProductos" @bind-Value="Descripcion" class="form-control">

                                    <option></option>

                                    @foreach (var item in listaProductos)
                                    {
                                        <option value="@item.Descripcion">@item.Descripcion</option>
                                    }

                                </InputSelect>
                            </div>

                            @* Cantidad *@
                            <div class="form-group col">
                                <label>Cantidad: </label>
                                <InputNumber class="form-control" @bind-Value="CantidadUtilizado" />
                                <ValidationMessage For="@(() => CantidadUtilizado)" />
                            </div>

                            @* Boton Agregar Utizados *@
                            <div class="form-group col">
                                <button type="button" class="btn btn-success col" @onclick="AgregarUtilizados">
                                    <span class="oi oi-plus"> Agregar</span>
                                </button>
                            </div>

                        </div>

                        <br>

                        <table class="table table-secondary">
                            <thead class="thead-dark">
                                <tr class="table-info">
                                    <th>ProductoId</th>
                                    <th>Descripcion</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in productoEmpaque.Utilizados)
                                {

                                    <tr>

                                        <td>@item.Id</td>
                                        <td>@item.Descripcion</td>
                                        <td>@item.Cantidad</td>

                                        <td>
                                            <span class="btn btn-sm btn-outline-primary oi oi-ban" href="#" @onclick=" (() =>
                                                RemoverFila(item)) "> Remover
                                            </span>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </form>

                    @* Total *@
                    <div class="input-group mb-2">
                        <span class="input-group-text">
                            Peso Total: Gramos:
                        </span>
                        <InputNumber class="form-control" @bind-Value="Total" readonly />
                    </div>

                </div>

                <hr>
                <br>

                @* Producidos *@
                <div class="card">

                    <div class="card-header">
                        <h3>Producido</h3>
                    </div>

                    <br>

                    <form>

                        <div class="row">

                            @* Combo BOX Productos *@
                            <div class="form-group col">

                                <label>Productos Creados: </label>

                                <InputSelect id="SelectProductos" @bind-Value="ProductosCreados" class="form-control">

                                    <option></option>

                                    @foreach (var item in listaCreados)
                                    {
                                        <option value="@item">@item</option>
                                    }

                                    <option value="Mixtas">Mixtas</option>

                                </InputSelect>
                            </div>

                            @* Cantidad *@
                            <div class="form-group col">
                                <label>Cantidad: </label>
                                <InputNumber class="form-control" @bind-Value="CantidadProducido" />
                                <ValidationMessage For="@(() => CantidadProducido)" />
                            </div>

                        </div>

                    </form>

                </div>
            </div>

            <div class="card-footer">

                @* Botones *@
                <div class="form-group text-center" display: inline-block>

                    <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">
                        <span class="oi oi-plus"> Nuevo</span>
                    </button>

                    <button type="submit" class="btn btn-lg btn-success">
                        <span class="oi oi-folder"> Guardar</span>
                    </button>

                    <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">
                        <span class="oi oi-trash"> Eliminar</span>
                    </button>

                </div>

            </div>

        </div>
    </div>

</EditForm>

@code {

    public string Mixto { get; set; }
    public string Descripcion { get; set; }
    public int CantidadUtilizado { get; set; } = 0;
    public int CantidadProducido { get; set; } = 0;
    public string? ProductosCreados { get; set; }
    public double Total { get; set; } = 0;
    public Productos producto { get; set; } = new Productos();
    public Utilizados utilizado { get; set; } = new Utilizados();
    public Producidos producido { get; set; } = new Producidos();
    public ProductosEmpaque productoEmpaque { get; set; } = new ProductosEmpaque();
    public List<Productos> listaProductos { get; set; } = new List<Productos>();
    public List<string> listaCreados = new List<string>();

    [Inject]
    public ProductoBLL productosBLL { get; set; }

    [Inject]
    public ProductoEmpaqueBLL productosEmpaqueBLL { get; set; }

    [Parameter]
    public int empaqueId { get; set; }

    protected override void OnInitialized()
    {
        listaProductos = productosBLL.GetList(t => true);
        productoEmpaque.EmpaqueId = empaqueId;
        Buscar();
    }

    public void Buscar()
    {
        if (this.productoEmpaque.EmpaqueId > 0)
        {

            ProductosEmpaque encontrado = null;
            encontrado = productosEmpaqueBLL.Buscar(this.productoEmpaque.EmpaqueId);

            if (encontrado != null)
            {
                this.productoEmpaque = encontrado;
            }
            else
            {
                toastService.ShowError("No se encontró el producto");
            }
        }
    }

    public void Nuevo()
    {
        productoEmpaque = new ProductosEmpaque();
    }

    public void Guardar()
    {
        if (productosEmpaqueBLL.Guardar(productoEmpaque))
        {
            toastService.ShowInfo("Se guardó exitosamente");
        }
        else
            toastService.ShowError("No se pudo guardar.");
    }

    public void Eliminar()
    {
        if (productosEmpaqueBLL.Eliminar(productoEmpaque.EmpaqueId))
        {
            Nuevo();
            toastService.ShowSuccess("Eliminación exitosa");
        }
        else
        {
            toastService.ShowError("Eliminación fallida");
        }
    }

    private void RemoverFila(Utilizados item)
    {
        this.productoEmpaque.Utilizados.Remove(item);
    }

    public List<int> listaId = new List<int>();

    public void AgregarUtilizados()
    {
        var aux = productosBLL.ExisteProducto(Descripcion);

        this.productoEmpaque.Utilizados.Add(utilizado = new Utilizados(CantidadUtilizado, Descripcion, aux.ProductoId));
        CacularPesoTotal(Descripcion, CantidadUtilizado);
        LlenarLista(Descripcion);
        LlenarListaId(Descripcion);
    }

    public void AgregarProducido()
    {
        @* var aux = productosBLL.ExisteProducto(Descripcion); *@
    }

    // Mejorar con LinQ
    public void CacularPesoTotal(string descripcion, int cantidad)
    {
        foreach (var item in listaProductos)
        {
            if (descripcion == item.Descripcion)
            {
                Total += (item.Peso * cantidad);
            }
        }
    }

    public void LlenarLista(string descripcion)
    {
        listaCreados.Add(descripcion);
        @* Mixto += @"{descripcion}"; *@
    }

    public void LlenarListaId(string Descripcion)
    {
        foreach (var item in listaProductos)
        {
            if (Descripcion == item.Descripcion)
            {
                listaId.Add(item.ProductoId);
            }
        }
    }

}
